@model List<TipoUsuario>

<h1>Tipo de Usuarios</h1>

<p style="text-align: right;">
    <a asp-action="Crear" class="btn btn-primary btn-sm">Crear</a>
</p>

@* <!-- Aquí se muestra el mensaje si lo hay -->
@if (TempData["Mensaje"] != null)
{
    <script type="text/javascript">
        // Usamos JavaScript para crear el popup
        window.onload = function () {
            alert('@TempData["Mensaje"]'); // Popup simple
        };
    </script>
} *@

@if (TempData["Mensaje"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            Swal.fire({
                title: '@TempData["Titulo"]',
                html: '@TempData["Mensaje"]',       //Usuarios html eliminar lugar de text para los accentos
                icon: '@TempData["Icono"]',
                confirmButtonText: 'Aceptar',
                timer: 4000,                        // 4000 milisegundos = 4 segundos
                timerProgressBar: true,             // Opcional: agregar barra de progreso durante el tiempo
                willClose: () => {
                    // Puedes agregar acciones que ocurran cuando se cierre el popup
                }
            });
        };
    </script>
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Observaciones</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var tipo_usuario in Model){
            <tr>
                <td>
                    @tipo_usuario.TusuId
                </td>
                <td>
                    @tipo_usuario.TusuDesc
                </td>
                <td>
                    @tipo_usuario.TusuObs
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@tipo_usuario.TusuId" class="btn btn-success btn-sm">Editar</a>
                    <a asp-action="Eliminar" asp-route-id="@tipo_usuario.TusuId" class="btn btn-danger btn-sm"
                        onclick="return confirm('¿Estás seguro de que deseas eliminar este tipo de usuario?');">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>